{% extends 'base.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block body %}
    <h1>Wszystkie kategorie</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id kategorii</th>
                <th>Nazwa</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nie ma kategorii, czas aby go stworzyć</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">Create new</a>
{% endblock %}
